<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://10.7.0.51:33062/db_giovanna_bernazzolli?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">giovanna_bernazzolli</property>
    <property name="hibernate.connection.password">giovanna_bernazzolli</property>
    <mapping class="bean.GdcbVendasProdutos"/>
    <mapping class="bean.GdcbUsuarios"/>
    <mapping class="bean.GdcbVenda"/>
    <mapping class="bean.GdcbProdutos"/>
    <mapping class="bean.GdcbCliente"/>
    <mapping class="bean.GdcbFuncionario"/>
  </session-factory>
</hibernate-configuration>
